.profile__occupation {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 25px;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .profile__occupation {
    font-size: calc(4.3vw);
    margin-bottom: 0;
  }
}
